<div>
    <h2 id="page-heading">
        <span jhiTranslate="collmateApp.cd.home.title">Cds</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cd" [routerLink]="['/cd/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="collmateApp.cd.home.createLabel">
            Create a new Cd
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="cds?.length === 0">
        <span jhiTranslate="collmateApp.cd.home.notFound">No cds found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="cds && cds.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="collmateApp.cd.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="performer"><span jhiTranslate="collmateApp.cd.performer">Performer</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="releaseYear"><span jhiTranslate="collmateApp.cd.releaseYear">Release Year</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="diskCount"><span jhiTranslate="collmateApp.cd.diskCount">Disk Count</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="medium"><span jhiTranslate="collmateApp.cd.medium">Medium</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="label"><span jhiTranslate="collmateApp.cd.label">Label</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="state"><span jhiTranslate="collmateApp.cd.state">State</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="added"><span jhiTranslate="collmateApp.cd.added">Added</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cd of cds ;trackBy: trackId">
                    <td><a [routerLink]="['/cd', cd.id, 'view']">{{ cd.id }}</a></td>
                    <td>{{ cd.name }}</td>
                    <td>{{ cd.performer }}</td>
                    <td>{{ cd.releaseYear }}</td>
                    <td>{{ cd.diskCount }}</td>
                    <td>{{ cd.medium }}</td>
                    <td>{{ cd.label }}</td>
                    <td jhiTranslate="{{ 'collmateApp.State.' + cd.state }}">{{ cd.state }}</td>
                    <td>{{ cd.added | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/cd', cd.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/cd', cd.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(cd)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="cds && cds.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
